<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Оплата подписки на месяц</title>
  </head>
  <body>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4 mx-auto">

          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title font-weight-bold">Оплата подписки на месяц</h4>
              <p class="card-text">Оплатив подписку на Радар Биржи, вы соглашаетесь с пользовательским соглашением. После оплаты вас перекинет обратно в бота.</p>
              
              <a href="https://telegra.ph/Polzovatelskoe-soglashenie-07-13-5">Пользовательское соглашение</a>
              <h3>Введите ваш email</h3>
              <div class="input-group mb-3">
                <input type="email" id="emailInput" class="form-control" placeholder="Введите email" required>
              </div>
              <button id="checkout" class="btn btn-primary mt-3">Оплатить</button>
            </div>
          </div> 

        </div>
      </div>
    </div>

    <script>
        let savedEmail = '';
        document.addEventListener('DOMContentLoaded', function() {
          const emailInput = document.getElementById('emailInput');
          // Обработчик изменения значения email
          emailInput.addEventListener('input', function(event) {
            const newEmail = event.target.value;
            savedEmail = newEmail;
          });
        });
        document.getElementById('checkout').onclick = function () {
            var payments = new cp.CloudPayments({
                yandexPaySupport: false,
                applePaySupport: false,
                googlePaySupport: false,
                masterPassSupport: false,
                tinkoffInstallmentSupport: false
            });
    
            payments.oncomplete = (result) => {
                console.log('result', result);
                window.location.href = "/getTokenMonth/" + "<%= account_id %>" + '/' +(result.data.transactionId).toString() + '/' + '999' + '/' + `${savedEmail}`;
            }
    
            var receipt = {
                Items: [//товарные позиции
                    {
                        label: 'Оплата подписки на месяц в Радаре Биржи', //наименование товара
                        price: 999.00, //цена
                        quantity: 0.00, //количество
                        amount: 999.00, //сумма
                        vat: 20, //ставка НДС
                        method: 0, // тег-1214 признак способа расчета - признак способа расчета
                        object: 0, // тег-1212 признак предмета расчета - признак предмета товара, работы, услуги, платежа, выплаты, иного предмета расчета
                    }
                ],
                taxationSystem: 0, //система налогообложения; необязательный, если у вас одна система налогообложения
                email: savedEmail, //e-mail покупателя, если нужно отправить письмо с чеком
                phone: '', //телефон покупателя в любом формате, если нужно отправить сообщение со ссылкой на чек
                isBso: false, //чек является бланком строгой отчетности
                amounts: {
                    electronic: 999.00, // Сумма оплаты электронными деньгами
                    advancePayment: 0.00, // Сумма из предоплаты (зачетом аванса) (2 знака после запятой)
                    credit: 0.00, // Сумма постоплатой(в кредит) (2 знака после запятой)
                    provision: 0.00 // Сумма оплаты встречным предоставлением (сертификаты, др. мат.ценности) (2 знака после запятой)
                }
            };
    
            var data = { //содержимое элемента data
                CloudPayments: {
                    CustomerReceipt: receipt, //чек для первого платежа
                    recurrent: {
                                interval: 'Month', // изменение на полугодовой интервал
                                period: 1,
                                customerReceipt: receipt //чек для регулярных платежей
                    }
                }
            };
            
            payments.pay("charge", { // options
                publicId: 'pk_c8695290fec5bcb40f468cca846d2',
                accountId: '<%= account_id %>',
                description: 'Оплата подписки на месяц в Радаре Биржи',
                amount: 999,
                currency: 'RUB',
                data: data
            }).then((result) => {
                // Объект типа WidgetResult
                window.location.href = "/getTokenMonth/" + "<%= account_id %>" + '/' +(result.data.transactionId).toString() + '/' + '999' + '/' + `${savedEmail}`;
                console.log('result', result);
            });
    
               
           };
      </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>

